.is-low {
  background-color: #5e5c5ca8;
}

.is-normal {
  background-color: rgba(148, 148, 29, 0.733);
}

.is-high {
  background-color: rgba(189, 16, 16, 0.541);
}

.is-completed {
  opacity: 0.8;
}
